.rodape{
    background-color: var(--cor-11);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    max-width: 1300px;
    padding: 0px 50px;
}
.logo-rodape{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;
}
.logo-rodape img{
    max-width: 70px;
}
.contatos{
    display: flex;
    align-items: start;
    justify-content: center;
}
.contatos h2{
    font-size: 1.75rem;
}
.contatos li > p{
    font-size: 1.25rem;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
.redes-sociais h3{
    font-size: 1.25rem;
}
.redes-sociais::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--cor-9);
    margin: 10px 0px;
}
.redes-titulo{
    display: flex;
}
.sociais-imagens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    gap: 15px;
    padding-top: 10px;
}
.sociais-imagens h3{
    padding-left: 2px;
    grid-column: 1/-1;
}
.sociais-imagens img{
    max-width: 75px;
    border-radius: 15px;
}
.informacoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.informacoes h2{
    font-size: 1.75rem;
}
.informacoes a{
    padding: 10px 0px;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.3s;
}
.informacoes a:hover{
    color: var(--cor-6);
}
.final{
    background-color: var(--cor-11);
    color: #fff;
    text-align: center;
}
.menu-footer li a{
    display: flex;
    padding-bottom: 10px;
}
@media(max-width: 800px){
    .rodape{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .contatos{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .sociais-imagens::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--cor-9);
        margin: 10px 0px;
        grid-column: 1/-1;
    }
    .contatos h2::before{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--cor-9);
        margin: 10px 0px;
    }
    .final{
        font-size: 0.9rem;
    }
}
@media(max-width: 350px){
    .contatos h2{
        font-size: 1.5rem;
    }
    .contatos li > p{
        font-size: 1.125rem;
    }



    .final{
        font-size: 0.8rem;
    }
}