.cabecalho{
    background-color: #111;
    color: #ededed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 30px 50px;
}
/* -------------------> logotipo <------------------ */
.logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.logo:hover{
    color: #c7c7c7;
}
.logo h1{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.logo img{
    max-width: 80px;
}
/* -------------------> menu <------------------ */
.menu-header li{
    position: relative;
}   
.menu-header li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ededed;
    position: absolute;
    margin-top: 2px;
    transition: 0.2s;
}
.menu-header li:hover::after{
    width: 100%;
    transition: 0.3s;
}
.menu-header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.menu-header ul li a{
    padding: 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
#btn-mobile{
    display: none;
}
/* -------------------> medias/responsivo <------------------ */
@media (max-width: 1100px){
    .logo h1{
        font-size: 2rem;
    }
    .menu-header ul li a{
        padding: 5px;
        font-weight: 700;
        font-size: 1.1rem;
    }
    .menu-header ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .container{
        padding: 30px 30px;
    }
}
@media (max-width: 900px){
    .logo h1{
        font-size: 1.8rem;
    }
    .logo img{
        max-width: 60px;
    }
    .menu-header ul li a{
        padding: 10px;
        font-weight: 700;
        font-size: 1rem;
    }
}
@media (max-width: 800px){
    .container{
        padding: 30px 20px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .logo img{
        max-width: 50px;
    }
    .menu-header ul li a{
        padding: 10px;
        font-weight: 500;
        font-size: 1rem;
    }
}
@media (max-width: 750px){
    .menu-header ul{
        display: block;
    }
    .menu-header li::after{
        display: none;
    }
    .menu-header li:hover{
        background: #404040;
    }
    .menu-1{
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 110px;
        right: 0;
        background: #111;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .menu-1 ul li{
        border-bottom: 2px solid #ededed;
    }
    .menu-1 ul li:last-child{
        border-bottom: none;
    }
    .menu-1 ul li a{
        font-size: 1.345rem;
        line-height: 4ch;
        font-weight: 700;
        position: relative;
        margin-left: 40px;
    }
    .menu-1 ul li a::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 6px;
        background-image: linear-gradient(to right,#7425C7,#7D44C7,#5F4180,#2B292C);
        margin-right: 10px;
        align-items: center;
        position: absolute;
        left: -20px;
        top: 23px;
    }
    .menu-1.active{
        display: block;
        height: calc(100vh - 110px);
        visibility: visible;
        overflow-y: auto;
    }
    #btn-mobile{
        display: flex;
        padding: 10px 0px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
        background: none;
        align-items: center;
        cursor: pointer;
        color: #ededed;
        gap: 15px;
    }
    .hamburguer{
        border-top: 3px solid #ededed;
        width: 30px;
        display: block;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: currentColor;
        margin-top: 5px;
        transition: 0.6s;
        position: relative;
    }
    .x-menu{
        border-top: transparent;
    }
    .x-menu.hamburguer::before{
        transform: rotate(135deg);
    }
    .x-menu.hamburguer::after{
        transform: rotate(-135deg);
        top: -8px;
    }
}
@media(max-width: 500px){
    .cabecalho{
        position: relative;
    }
}
@media(max-width: 350px){
    #btn-mobile p{
        display: none;
    }
    .logo h1{
        font-size: 1.25rem;
    }
    .menu-header ul{
        gap: 5px;
        font-size: 1.2rem;
    }
    .logo img{
        max-width: 40px;
    }
    .container{
        padding: 35px 20px;
    }
}