.btn-wpp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 35px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    font-size: 45px;
    box-shadow: 0.5px 0.5px 3px #888;
    z-index: 10;
}
.btn-topo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    left: 35px;
    background-image: url('../../imagens/icones/seta-subir.svg');
    z-index: 10;
    background-size: 4rem;
}
.btn-topo:hover{
    background-image: url('../../imagens/icones/seta-subir-hover.svg');
}
.container{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin: 0 auto;
}
.subir-seta{
    max-width: 70px;
}
@media (max-width: 700px){
    .btn-wpp{
        display: none;
    }
}