.caixa-animal{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}
.caixa-animal h3{
    padding-top: 15px;
    padding-bottom: 30px;
}
.caixa-animal p{
    padding-bottom: 30px;
}
.caixa-animal img{
    display: block;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
}
.animal-2{
    margin-top: 70px;
    background-image: linear-gradient(to right, var(--cor-0)40%, var(--cor-5)60%);
    margin-bottom: 70px;
}
.caixa-animal h3::before{
    content: '';
    display: block;
    width: 20px;
    height: 8px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right,#7425C7,#7D44C7);
}
@media(max-width: 700px){
    .caixa-animal{
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .animal-2{
        margin-top: 80px;
        margin-bottom: 50px;
        background-image: linear-gradient(to right, var(--cor-0)40%, var(--cor-3)60%);
    }
    .animal-1 h1{
        font-size: 1.5rem;
    }
    .animal-2 h1{
        font-size: 1.5rem;
    }
}

@media(max-width: 400px){
    .animal-1 h1{
        font-size: 1.125rem;
    }
    .animal-2 h1{
        font-size: 1.125rem;
    }
}
