.box-contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 20px;
    border: 1px solid var(--cor-12);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.box-contato label{
    font-size: 1.25rem;
    font-weight: 600;
}
.box-contato input, .box-contato textarea{
    padding: 5px 5px;
    border-radius: none;
    border: none;
    background-color: var(--cor-2);
    margin: 0px 10px 0px 0px;
}
.box-contato input:focus,.box-contato textarea:focus{
    border: 0.5px solid var(--cor-p4);
}
.redes-contatos{
    background-color: var(--cor-11);
    color: var(--cor-1);
    padding: 80px 50px 80px 80px
}

.ul-endereco{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.ul-endereco::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../../imagens/icones/icon-maps.svg');
    position: absolute;
    left: -35px;
    top: 5px;
}
.ul-email{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.ul-email::before{
    content: '';
    display: block;
    width: 32px;
    height: 26px;
    background-image: url('../../imagens/icones/email-icon.svg');
    position: absolute;
    left: -35px;
    top: 5px;
}
.ul-telfone{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.ul-telfone::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../../imagens/icones/contact_telephone_call_phone_icon_228411.svg');
    position: absolute;
    left: -35px;
    top: 10px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.mensagem{
    grid-column: 1/-1;
    padding-bottom: 10px;
}
.box-msg a{
    grid-column: 1/-1;
}
.mensagem textarea{
    width: 96%
}

@media(max-width: 1000px){
    .box-contato label{
        font-size: 1.125rem;
        font-weight: 600;
    }
    .box-contato input, .box-contato textarea{
        padding: 5px 1px;
    }
}
@media (max-width: 900px){
    .box-contato{
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        gap: 10px;
    }
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
    }
    .mensagem textarea{
        grid-column: auto;
        width: 300px
    }
    .box-msg a{
        margin-bottom: 20px;
    }
}
@media (max-width: 500px){
    .form{
        grid-template-columns: 1fr;
        margin: 0px 10px;
        justify-items: start;
        align-items: center;
    }
    .mensagem textarea{
        width: 250px;
    }
    .redes-contatos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1rem;
        background-color: var(--cor-11);
        color: var(--cor-1);
        padding: 10px 0px 10px 10px;
    }
    .ul-endereco{
        margin-top: 50px;
    }
    .ul-telfone::before{
        left: 0px;
        top: -30px;
    }
    .ul-email::before{
        left: 0px;
        top: -25px;
    }
    .ul-endereco::before{
        left: 0px;
        top: -30px;
    }
}